/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Baloo Chettan 2', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body .navigation .navLinks {
    width: auto;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    flex-wrap: wrap;
  }
  
  body nav.navigation a {
    text-decoration: none;
    padding: 0 3.5%;
    margin: 15px;
    color: darkgrey;
  }
  
  body nav.navigation img.logo {
    float: right;
    padding-right: 5%;
    margin-top: -43px;
  }
  
  .header {
    display: flex;
  }
  
  .header .leftContentH {
    margin: 50px;
    padding: 100px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-left: 300px;
  }
  
  .header h1 {
    font-size: 70px;
    text-transform: uppercase;
    display: relative;
  }
  
  .header button {
    height: 30px;
    width: 150px;
  }
  
  .header button:hover {
    animation-name: animation2;
    animation-iteration-count: infinite;
    animation-duration: 3s;
  }
  
  @keyframes animation2 {
    from{background-color: white;}
    to{background-color: blue;}
    from{color: black;}
    to{color: red}
  }
  
  .header .rightContentH {
    width: 60%;
    text-align: center;
  }
  
  .header img {
    position: relative;
    top: 100px;
  }
  
  .top-content {
    margin: 30px;
    border-top: 2px solid black;
    padding: 20px 0px 20px;
    height: 150px;
  }
  
  .top-content .leftSide {
    width: 50%;
    float: left;
    padding-right: 40px;
    margin-top: 30px;
  }
  
  .top-content .rightSide {
    margin-top: 30px;
    width: 50%;
    float: right;
    padding-left: 40px;
  }
  
  center .middle-img {
    width: 96%;
  }
  
  .bottom-content {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 160px;
  }
  
  .bottom-content .column {
    width: 33.33%;
    float: left;
    padding-right: 20px;
  }
  
  .contact {
    border-top: 2px solid black;
    height: 200px;
    padding-top: 80px;
    margin: 30px;
  }
  
  footer {
    text-align: center;
    margin-bottom: 40px;
  }

@media (max-width: 800px) {
    body nav.navigation a {
       padding: 22px;
       margin-top: 40px; 
    }

    body nav.navigation img.logo {
        padding-left: 40%;
        float: none;
        position: relative;
        bottom: 100px;
    }

    .bottom-content {
        padding-bottom: 200px;
    }

    .header {
        height: 400px;
    }

    .header img {
        display: none;
    }

    .header .leftContentH {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding-left: 43%;
        margin-top: -40px;
    }
}

@media (max-width: 500px) {

     body nav.navigation a {
        padding: 22px;
        margin: 0px; 
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid silver;
     }
 
     body nav.navigation img.logo {
         padding-left: 28%;
         float: none;
         display: flex;
         position: relative;
         bottom: 350px;
     }

     .header {
         width: 80%;
     }

      .top-content {
        margin: 30px;
        border-top: 2px solid black;
        display: flex;
        flex-direction: column;
        height: 325px;
      }
      
      .top-content .leftSide {
        width: 100%;
        float: none;
        margin-top: 30px;
        padding-right: 0px;
      }
      
      .top-content .rightSide {
        margin-top: 30px;
        width: 100%;
        float: none;
        padding-left: 0px;
      }

     .bottom-content {
        margin: 30px;
        display: flex;
        flex-wrap: wrap;
        width: auto;
        height: 400px;
      }
      
      .bottom-content .column {
        width: 100%;
        padding: 0px 0px 20px 0px;
      }

      center .middle-img {
        width: 85%;
      }
}